
<md-content >
    <div>
       <md-toolbar  id="nav-header" layout="row" layout-align="space-around center">
            <div  class="company-contact">Promast Inc.</div>
            <div id="btnGroup"  class="btn-group btn-group-lg" role="group">
                <button type="button" class="btn btn-secondary" ng-click="home()">Home</button> 
                <button type="button" class="btn btn-secondary" ng-click="about()">About Us</button>
                <button type="button" class="btn btn-secondary" ng-click="contact()">Contact Us</button>
                <button type="button" class="btn btn-secondary" ng-click="new()">New Equipment</button>
                <button type="button" class="btn btn-secondary" ng-click="mp()">MP Equipment</button>
                <button  type="button" class="btn btn-secondary" ng-click="contact()">
                    <md-icon class="material-icons call-icon" >call</md-icon>
                    Call us: (416)258-9915
                </button>
            </div>
        </md-toolbar>
    </div>

</md-content>